[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
coverage = "*"

[requires]
python_version = "3.11"

[scripts]
tests = "python -m pytest tests"
test_coverage = "coverage run -m pytest tests"
